@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #1B283F;
    color: white;
}
header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 74px;
    background-color: #21324F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo {
    margin-left: 55px;
    min-width: 125px;
}
#headHeader {
    font-size: 16px;
    margin: 0 20px 0 150px;
    min-width: 170px;
}
.boxForHeader {
    display: flex;
    align-items: center;
    height: 100%;
}
.messageIcoStyle {
    margin-right: 24px;
}
#messageIco {
    display: flex;
}
#userBox {
    display: inline-block;
    width: 262px;
    min-width: 200px;
    height: 100%;
    border-left: 1px solid #2F4469;
    display: flex;
    align-items: center;
}
#userPhoto {
    width: 44px;
    height: 44px;
    background-image: url(./photo/userPhoto.png);
    background-size: cover;
    border-radius: 50%;
    margin-left: 22px;
}
#userNameAndStatus {
    margin-left: 12px;
}
#userName {
    font-size: 15px;
    color: #BAC6DA;
}
#userStatus a {
    font-size: 14px;
    color: #3E71BB;
}
#userStatus a:hover {
    text-decoration: underline;
}

#boxForDataBlocks {
    margin-top: 105px;
    margin-left: 30px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.reportSettings {
    margin: 0 30px 30px 0;
    display: inline-block;
    min-width: 480px;
    background-color: #293B5A;
    height: 100%;
}
.insideBox {
    display: block;
    padding: 0 26px;
}
.insideBox label {
    display: block;
    font-size: 13px;
    color: #B8C3E0;
    margin: 20px 0 5px 0;
}
.insideBox select {
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #394E72;
    color: #fff;
    padding: 0 16px;
    appearance: none;
    background: url(./photo/selectArrow.png) no-repeat;
    background-position-y: center;
    background-position-x: 398px;
    background-size: 12px 8px;
}
.insideBox select option {
    background-color: #293B5A;
}
.insideBox select:focus {
    outline: none;
}
.insideBox input {
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #394E72;
    color: #fff;
    padding: 0 16px;
}
.insideBox input:focus {
    outline: none;
}
::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.calendar {
    position: absolute;
    margin: 13px 0 13px 398px;
}
.insideBox hr {
    border: none;
    border-top: 1px solid #4D648B;
    margin: 20px 0;
}
.insideBox button {
    background-color: #0095D3;
    color: #fff;
    padding: 10px 30px;
    border: none;
    margin-bottom: 20px;
    transition: 0.3s;
}
#showReport:hover {
    background-color: #1fa1da;
}
.dataReportBox {
    display: inline-block;
    min-width: 680px;
    height: 100%;
    background-color: #293B5A;
}
.dataReportBox .headBlock {
    display: flex;
    justify-content: space-between;
}
#headBlockDownload {
    display: flex;
    align-items: center;
    font-size: 13px;
}
#headBlockDownload p {
    color: #B8C3E0;
    margin-left: 8px;
}
#headBlockDownload span {
    margin-left: 10px;
    font-weight: bold;
}
#headBlockDownload span:hover {
    text-decoration: underline;
}
.dataReportRow {
    display: flex;
}
.dataReportRow .dataReportRowName {
    font-size: 13px;
    width: 65%;
    margin: 2px 0 2px 0;
    background-color: #1B283F;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.dataReportRow .dataReportRowRowData {
    font-size: 13px;
    width: 35%;
    margin: 2px 0 2px 2px;
    background-color: #1B283F;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
#rowOne {
    margin-top: 18px;
}
#rowOne .dataReportRowName {
    background-color: #152032;
}
#rowOne .dataReportRowRowData {
    background-color: #152032;
}
#rowTotal{
    margin-bottom: 20px;
}
#rowTotal .dataReportRowName {
    background-color: #0C1931;
}
#rowTotal .dataReportRowRowData {
    background-color: #0C1931;
}
.box {
    display: flex;
}

.headBlock {
    background-color: #21324F;
    padding: 14px 26px;
}
.headBlock h1 {
    font-size: 16px;
}

.navButton {
    display: none;
    fill: #fff;
    position: absolute;
    margin-left: 12px;
    width: 28px;
}
#navButtonOpen {
    z-index: 991;
}
#navButtonClose {
    z-index: 990;
}
#navBar {
    display: inline-block;
    z-index: 999;
    padding-top: 74px;
    min-width: 325px;
    height: 100vh;
    background-color: #293B5A;
}
@media only screen and (max-width : 768px) {
    #navBar {display: none; position: absolute;}
    .navButton {display: inline-block;}
    #headHeader {font-size: 14px; min-width: 160px; margin: 0 20px;}
    #userBox {width: 100%;}
    #logo {width: 100%;}
}
.navElem {
    display: block;
    padding: 17.5px 0 17.5px 55px;
    transition: 0.3s;
}
.navSubelementBox {
    margin-top: 17.5px;
    display: none;
    background: url(./photo/line.png) no-repeat;
    background-size: 1px 80px;
    background-position-y: center;
}
.navElem:hover {
    border-right: solid #B758AE;
}
.navElem:hover .navSubelementBox{
    display: block;
}
.navElem:hover {
    background-color: #21324F;
}
.navElem:hover .navElemName{
    color: #0095D3;
}
.navElem:hover .navElemIco path{
    fill: #0095D3;
}
.navSubelement:hover .navSubelementName{
    color: #0095D3;
}
.navSubelement {
    display: block;
    padding: 10px 0;
}
.navSubelementName {
    margin-left: 37px;
    transition: 0.4s;
}
.navElemIco {
    display: inline;
    width: 16px;
    height: 16px;
}
.navElemIco path {
    fill: #B8C3E0;
}
#navElemIcoBack {
    display: inline;
    width: 16px;
    height: 16px;
    fill: #3A4F71;
}
#navElemIcoHome {
    margin-left: 8px;
}
.navElemName {
    display: inline;
    font-size: 16px;
    margin-left: 16px;
    color: #B8C3E0;
    transition: 0.4s;
}
.navSubelement {
    display: block;
}
.navSubelementName {
    font-size: 14px;
}
.navSubelementBox a { 
    color: #B8C3E0;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}