@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #1B283F;
    color: white;
}

/*css for header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 74px;
    background-color: #21324F;
    position: fixed;
    z-index: 1000;
}
header #logo{
    margin-left: 55px;
    min-width: 100px;
}
header h1 {
    font-size: 16px;
    margin: 0 20px 0 150px;
    min-width: 170px;
}
.headerSubBox {
    display: flex;
    align-items: center;
    height: 100%;
}
#headerMessageIco {
    display: flex;
}
#headerMessageIco svg {
    margin-right: 24px;
}
#userBox {
    display: flex;
    align-items: center;
    width: 262px;
    min-width: 200px;
    height: 100%;
    border-left: 1px solid #2F4469;
}
#userPhoto {
    width: 44px;
    height: 44px;
    background-image: url(./photo/userPhoto.png);
    background-size: cover;
    border-radius: 50%;
    margin-left: 22px;
}
#userNameAndStatus {
    margin-left: 12px;
}
#userName {
    font-size: 15px;
    color: #BAC6DA;
}
#userStatus a {
    font-size: 14px;
    color: #3E71BB;
}
#userStatus a:hover {
    text-decoration: underline;
}

/*css mainBox*/
#mainBox {
    display: flex;
    height: 100%;
    padding-top: 74px;
}

/*css navBar*/
#navBarOpenButton {
    display: none;
    width: 28px;
    fill: #fff;
    position: absolute;
    margin-left: 12px;
}
#navBar {
    min-width: 325px;
    height: 100vh;
    background-color: #293B5A;
    z-index: 999;
}
.navBarElem {
    transition: 0.3s;
}
.navBarElem>a {
    display: block;
    padding: 17.5px 0;
}
.navBarElem>div {
    display: block;
    padding: 17.5px 0;
}
.navBarElem svg:first-child{
    width: 16px;
    height: 16px;
    margin-left: 55px;
}
.navBarElem path {
    fill: #B8C3E0;
}
.navBarElem svg:last-child{
    margin-left: 10px;
}
#navBarElemIcoBack path{
    fill: #3A4F71;
}
.navBarElem span {
    font-size: 16px;
    color: #B8C3E0;
    margin-left: 16px;
    transition: 0.4s;
}
.navBarElem:hover {
    background-color: #21324F;
    border-right: solid #B758AE;
}
.navBarElem:hover svg path{
    fill: #0095D3;
}
.navBarElem:hover span{
    color: #0095D3;
}
.navBarSelect{
    display: none;
    margin-top: 17.5px;
    margin-left: 55px;
    padding-left: 35px;
    background: url(./photo/line.png) no-repeat;
    background-size: 1px 80px;
    background-position-y: center;
}
.navBarSelectElement {
    padding: 17.5px 0;
}
.navBarSelectElement a {
    font-size: 14px;
    color: #B8C3E0;
    margin-left: 0px;
    transition: 0.4s;
}
.navBarElem:hover .navBarSelect{
    display: block;
}
.navBarSelectElement:hover a{
    color: #0095D3;
}

/**/
#formAndData {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 30px;
}
.reportSettings {
    min-width: 480px;
    height: fit-content;
    background-color: #293B5A;
    margin-right: 30px;
    margin-bottom: 30px;
}
.headBlock {
    background-color: #21324F;
    padding: 14px 26px;
}
.headBlock h1 {
    font-size: 16px;
}
.insideBox {
    display: block;
    padding: 0 26px;
}
.insideBox label {
    display: block;
    font-size: 13px;
    color: #B8C3E0;
    margin: 20px 0 5px 0;
}
.insideBox select {
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #394E72;
    color: #fff;
    padding: 0 16px;
    appearance: none;
    background: url(./photo/selectArrow.png) no-repeat;
    background-position-y: center;
    background-position-x: 398px;
    background-size: 12px 8px;
}
.insideBox select option {
    background-color: #293B5A;
}
.insideBox select:focus {
    outline: none;
}
.insideBox input {
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #394E72;
    color: #fff;
    padding: 0 16px;
}
.insideBox input:focus {
    outline: none;
}
::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.calendar {
    position: absolute;
    margin: 13px 0 13px 398px;
}
.insideBox hr {
    border: none;
    border-top: 1px solid #4D648B;
    margin: 20px 0;
}
.insideBox button {
    background-color: #0095D3;
    color: #fff;
    padding: 10px 30px;
    border: none;
    margin-bottom: 20px;
    transition: 0.3s;
}
.insideBox button:hover {
    background-color: #1fa1da;
}
.dataReportBox {
    height: fit-content;
    min-width: 680px;
    background-color: #293B5A;
}
.dataReportBox .headBlock {
    display: flex;
    justify-content: space-between;
}
#headBlockDownload {
    display: flex;
    align-items: center;
    font-size: 13px;
}
#headBlockDownload p {
    color: #B8C3E0;
    margin-left: 8px;
}
#headBlockDownload span {
    margin-left: 10px;
    font-weight: bold;
}
#headBlockDownload span:hover {
    text-decoration: underline;
}

#dataReportInsideBox {
    margin-top: 2px;
}
.dataReportRow, .dataReportRowInside {
    display: flex;
}
.dataReportRowInside .dataReportRowName {
    font-size: 13px;
    width: 65%;
    background-color: #1B283F;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.dataReportRowInside .dataReportRowData {
    margin-left: 2px;
    margin-bottom: 2px;
    font-size: 13px;
    width: 35%;
    background-color: #1B283F;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.dataReportRow .dataReportRowName {
    font-size: 13px;
    width: 65%;
    background-color: #1B283F;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.dataReportRow .dataReportRowData {
    margin-left: 2px;
    font-size: 13px;
    width: 35%;
    background-color: #1B283F;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
#rowOne {
    margin-top: 18px;
}
#rowOne .dataReportRowName {
    background-color: #152032;
}
#rowOne .dataReportRowData {
    background-color: #152032;
}
#rowTotal{
    margin-bottom: 20px;
}
#rowTotal .dataReportRowName {
    background-color: #0C1931;
}
#rowTotal .dataReportRowData {
    background-color: #0C1931;
}
@media only screen and (max-width : 768px) {
    header #logo {width: 100%;}
    header h1 {font-size: 14px; min-width: 160px; margin: 0 20px;}
    #userBox {width: 100%;}
}

a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}